body {
  --gray-100: #f6f8fa;
  --gray-300: #d1d5da;
  --gray-700: #586069;
  --gray-900: #24292e;
  --blue-100: #dbedff;
  --orange-100: #ffebda;
  --white: #fff;
  --title-z: 2;
}

.bbc-title {
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: var(--title-z);
  text-decoration: none;
  background-color: var(--gray-300);
  padding: 1em;
}

.bbc-meta {
  display: flex;
  flex-direction: row;
  & p {
    padding-right: 0.3em;
    font-style: italic;
  }
}

.bbc-menu {
  background-color: var(--orange-100);
  display: flex;
  flex-direction: row;
  & a {
    color: var(--gray-900);
    text-align: center;
    text-decoration: none;
    padding: 0.8em 1em;
  }
  & a:hover:not(.active) {
    background-color: var(--blue-100);
  }
  & a.active {
    background-color: var(--gray-100);
  }
}

@media screen and (max-width: 600px) {
  .bbc-title {
    position: relative;
  }

  .bbc-meta, .bbc-menu {
    flex-direction: column;
  }
}
