body {
  --gray-100: #f6f8fa;
  --gray-300: #d1d5da;
  --gray-700: #586069;
  --gray-900: #24292e;
  --blue-100: #dbedff;
  --orange-100: #ffebda;
  --white: #fff;
  --title-z: 2;
}

.bbc-title {
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: var(--title-z);
  text-decoration: none;
  background-color: var(--gray-300);
  padding: 1em;
}

.bbc-meta {
  display: flex;
  & p {
    font-style: italic;
    border-left-color: var(--gray-100);
    border-left-width: 2px;
  }
}

.bbc-menu {
  position: relative;
  inset-block-start: 11em;
  z-index: calc(var(--title-z) + 1);
  & ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--gray-100);
    & li {
      float: left;
      border-right-color: var(--gray-100);
    }
    & li a {
      display: block;
      color: var(--gray-900);
      text-align: center;
      padding: 0.8em 1em;
      text-decoration: none;
    }
    & li a:hover:not(.active) {
      background-color: var(--blue-100);
    }
    & li a.active {
      background-color: var(--gray-700);
      color: var(--orange-100);
    }
  }
}

@media (max-width: 599px) {
  .bbc-title {
    position: relative;
  }

  .bbc-menu > ul > li {
    float: none;
  }
}
